﻿@using HtmlHelpers.BeginCollectionItemCore;

@model Item

@using (Html.BeginCollectionItem("Items"))
{
    <td>@Model.ProductId</td>
    <td>@Model.UnitPrice</td>
    <td>
        @Html.HiddenFor(m => m.ProductId)
        @Html.HiddenFor(m => m.UnitPrice)
        @Html.EditorFor(m => m.Quantity)
    </td>
}