﻿@model Item
@{
    ViewData["Title"] = "Add Item";
}

<div class="text-center">
    <h1 class="display-4">Add Item</h1>
    @using (Html.BeginForm())
    {
        @Html.EditorForModel()

        <input type="submit" value="Add" />
    }
</div>
