﻿@model Order
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your Order</h1>

    <a asp-action="AddItem" asp-controller="Home" class="btn btn-default">Add Item</a>

    @if (!Model.Items.Any())
    {
        <p>You currently have no items in your order</p>
    }
    else
    {
        <a asp-action="UpdateOrder" asp-controller="Home" class="btn btn-primary">Update Order</a>
        <a asp-action="ClearOrder" asp-controller="Home" class="btn btn-danger">Clear Order</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Quantity</td>
                        <td><a asp-action="RemoveItem" asp-controller="Home" asp-route-id="@item.ProductId" class="btn btn-danger">Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
