﻿@model Order
@{
    ViewData["Title"] = "Update Order";
}

<div class="text-center">
    <h1 class="display-4">Update Order</h1>

    @using (Html.BeginForm())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <partial name="_ItemRow" model="item" />
                    </tr>
                }
            </tbody>
        </table>

        <input type="submit" value="Confirm" />
    }
</div>
